body{
  font-family:Arial;
  background-color: bisque;
}
.container{
  background-color: rgb(0, 255, 195);
  width:600px;
  height:300px;
  margin-left:auto;
  margin-right:auto;
  margin-top:60px;
  
}
.heading{
  text-align: center;
  padding:20px;
  font-size: larger;
  font-weight: 600;
}

.todo-grid,.todo-input-grid{
  display:grid;
  grid-template-columns: 200px 150px 100px;

  column-gap:10px;
  row-gap:10px;
  align-items:center;
}

.todo-input-grid{
  margin-bottom:10px;
  align-items:stretch;
}
.name-input,due-date-input{
  font-size:15ox;
  padding:6px;
}
.add-todo-button{
  background-color:green;
  color:white;
  border:none;
  font-size:15px;
  cursor:pointer;
}
.delete-todo-button{
  background-color: darkred;
  color:white;
  border:none;
  font-size:15px;
  padding:6px;
  cursor:pointer;
  
}
